html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-wrapper {
  display: flex;
  max-height: 100%;
  height: 100%;
} */

/* .swiper-container {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
} */

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  width: auto;
  height: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  transition: transform 0.3s ease-in-out;
}

.swiper-button-next:hover {
  transform: translateX(4px);
}
.swiper-button-prev:hover {
  transform: translateX(-4px);
}

/* .courses-slider {
  margin-top: 4rem;
} */

.courses-slider first-child {
  padding: 20px 0;
}

.courses-slider .swiper-wrapper {
  padding: 20px 0;
}

.courses-slider .swiper-slide {
  -webkit-transition: 250ms all;
  transition: 100ms all;
}

.courses-slider .swiper-slide:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  z-index: 1;
}

.courses-slider .swiper-slide:first-child:hover {
  margin: 0 40px;
}

.courses-slider .swiper-slide:last-child:hover {
  margin: 0 -40px;
}
