.rich-editor {
  border: 1px solid #ddd;
  border-radius: 7px;
  font-size: 0.9rem;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.rich-editor .rdw-editor-toolbar {
  border-bottom: 1px solid #ddd;
  border-radius: 6px;
}

.rich-editor .DraftEditor-editorContainer {
  padding-left: 1rem;
}

.rich-editor .rdw-editor-main {
  background-color: #fff;
  border-radius: 6px;
  height: 50vh;
}

/* placeholder */
.rich-editor .public-DraftEditorPlaceholder-root {
  padding-left: 1rem;
  color: #bbb;
}
